:root {
    --greyblue: rgb(40,42,54);
    --pokeRed: rgb(228,31,37);
    --pokeBlack: rgb(43,43,41);
    --typeWater: rgb(44,155,227);
    --typeGrass: rgb(98,188,90);
    --typeFire: rgb(255,66,27);
    --typeBug: rgb(146,193,41);
    --typeNormal: rgb(187,187,170);
    --typePoison: rgb(149,83,205);
    --typeElectro: rgb(255,220,2);
    --typeGround: rgb(166,116,57);
    --typeFlying: rgb(150,202,255);
    --typeRock: rgb(187,170,102);
    --typeFighting: rgb(187,85,69);
    --typeIce: rgb(116,207,192);
    --typePsychic: rgb(255,99,128);
    --typeGhost: rgb(110,66,112);
    --typeDragon: rgb(86,112,190);
    --typeFairy: rgb(230,165,230);
  }

  .cb{
    color: black;
  }
