body {
    background-color: var(--greyblue);
    color: white;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--greyblue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 30px 20px -7px;
}

.logoArea, .serachArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoArea img {
    height: 56px;
    width: 56px;
}

.logoArea p {
    font-size: 32px;
    margin:0;
    padding-left: 16px;
}

.serachArea img {
    height: 40px;
    width: 40px;
    padding-left: 16px;
}

h1 {
    text-align: center;
    margin: 40px 0;
}

h3 {
    text-align: center;
    padding-top: 8px;
}

.pokecardArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 32px;
    flex-wrap: wrap;
}

.pokemonCard {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 16px;
}

.pokemonType {
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    font-size: 20px;
}

.BigCardContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgb(40,42,54,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
} 

.bigPokemonCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 8px 24px;
}
